# See https://help.github.com/articles/ignoring-files for more about ignoring files and https://github.com/github/gitignore for some templates
#

# Ignore logfiles and tempfiles
/log/*
!/log/.keep
/tmp
*~
.DS_Store
.svn
.*.swp
___*
